<html style="width:100%;height:100%;border:0;padding:0;margin:0;">
  <head>
    <title>Napp - Zero page HTML 5 application</title>
    <script type="text/javascript">
      dojoConfig = {
        async: 1,
        isDebug: true,
        paths: { 
          "wire/domReady": "/script/domReady/domReady"
        },
        packages: ${clientPackages},
        deps: ["napp/bootstrapper"],
        config: {
            "napp/bootstrapper": {
                bootstrapSpec: "napp/client-spec",
                appPackage: "${clientAppPackageName}"
            }
        },
      }
    </script>
    <script type="text/javascript" src="/script/dojo/dojo.js"></script>
  </head>
  <body class="claro" style="width:100%;height:100%;border:0;padding:0;margin:0;">
    <div id="root"/>
  </body>
</html>