<html style="width:100%;height:100%;border:0;padding:0;margin:0;">
  <head>
    <title>${title}</title>
    <script type="text/javascript">
      require = {
        map: { 
          "*" : {
            "wire/domReady": "requirejs-domready/domReady"
          }
        },
        packages: ${clientPackages},
        deps: ["napp/bootstrapper"],
        config: {
            "napp/bootstrapper": {
                bootstrapSpec: "napp/client-spec",
                appPackage: "${clientAppPackageName}"
            }
        },
      }
    </script>
    <script type="text/javascript" src="/script/requirejs/require.js"></script>
  </head>
  <body style="width:100%;height:100%;border:0;padding:0;margin:0;">
    <div id="root"/>
  </body>
</html>