doctype html
html
  head
    title Napp - Zero page HTML 5 application
    script(type='text/javascript').
      dojoConfig = {
        async: 1,
        isDebug: true,
        paths: { 
          "wire/domReady": "/script/domReady/domReady"
        },
        packages: !{JSON.stringify(clientPackages)},
        deps: ['napp/bootstrapper/client']
      };
    script(type='text/javascript' src='/script/dojo/dojo.js').
  body
    div#root